.text-muted {
    display: none;
}

.page-item.disabled .page-link {
    border-color: #edf2f9 !important;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #edf2f9;
}

.page-link {
    padding: .35rem .65rem
}

.page-item.active .page-link {
    background-color: #e9ecef;
    color: #0056b3;
    border-color: #edf2f9;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.cat-title {
    height: 45px;
    font-size: 13px;
    font-weight: bold;
}

.cat-title a {
    color: #000000 !important;
    text-decoration: none;
}


@media only screen and (min-width: 1000px) {
    .sonoo .col-md-2 {
        max-width: 12.5% !important;
    }
}
